<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROD</key>
	<dict>
		<key>BaseURL</key>
		<string></string>
		<key>LoginServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/j_spring_security_check?</string>
		<key>RegistrationServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-driver-web/login?channel_type=IOS&amp;languageCode=</string>
		<key>TermConditionsServiceURL</key>
		<string>http://ec2-52-9-108-237.us-west-1.compute.amazonaws.com:8080/kbc-app-service/admin/get/terms_conditions?languageCode=</string>
		<key>NeedHelpServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-driver-web/needHelp</string>
		<key>ContractServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/get/contract_details?userId=</string>
		<key>DashboardServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/get/dashboard_details?userId=</string>
		<key>HistoryServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/report/get/dashboard_history</string>
		<key>BadgeServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/get/badges_PROD</string>
		<key>OverallServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/report/get/overallScoreDetails</string>
		<key>ReportServiceURL</key>
		<string></string>
		<key>TripServiceURL</key>
		<string></string>
		<key>ConfigurationServiceURL</key>
		<string></string>
		<key>RegisterPNURL</key>
		<string></string>
		<key>RegisterDeviceTokenServiceURL</key>
		<string></string>
		<key>NotificationListServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/getnotificationlist?userId=1</string>
		<key>NotificationDetailsServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/getnotificationdetails?userId=1&amp;notificationId=1&amp;type=Promotion</string>
		<key>DeleteNotificationServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/delete?userId=7&amp;notificationId=14&amp;type=Promotion</string>
		<key>CompetitionAcceptanceServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/acceptance?userId=9&amp;notificationId=1&amp;acceptance=Y</string>
		<key>NotificationCountsServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/getnotificationcount?userId=9</string>
	</dict>
	<key>DEV</key>
	<dict>
		<key>BaseURL</key>
		<string></string>
		<key>LoginServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/j_spring_security_check?</string>
		<key>RegistrationServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-driver-web/login?channel_type=IOS&amp;languageCode=</string>
		<key>TermConditionsServiceURL</key>
		<string>http://ec2-52-9-108-237.us-west-1.compute.amazonaws.com:8080/kbc-app-service/admin/get/terms_conditions?languageCode=</string>
		<key>NeedHelpServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-driver-web/needHelp</string>
		<key>ContractServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/get/contract_details?userId=</string>
		<key>DashboardServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/get/dashboard_details?userId=</string>
		<key>HistoryServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/report/get/dashboard_history</string>
		<key>BadgeServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/get/badges</string>
		<key>OverallServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/report/get/overallScoreDetails</string>
		<key>ReportServiceURL</key>
		<string></string>
		<key>TripServiceURL</key>
		<string></string>
		<key>ConfigurationServiceURL</key>
		<string></string>
		<key>RegisterPNURL</key>
		<string></string>
		<key>RegisterDeviceTokenServiceURL</key>
		<string></string>
		<key>NotificationListServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/getnotificationlist?userId=1</string>
		<key>NotificationDetailsServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/getnotificationdetails?userId=1&amp;notificationId=1&amp;type=Promotion</string>
		<key>DeleteNotificationServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/delete?userId=7&amp;notificationId=14&amp;type=Promotion</string>
		<key>CompetitionAcceptanceServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/acceptance?userId=9&amp;notificationId=1&amp;acceptance=Y</string>
		<key>NotificationCountsServiceURL</key>
		<string>https://ec2-52-9-107-182.us-west-1.compute.amazonaws.com/ubi-sei-web/domain/notification/getnotificationcount?userId=9</string>
	</dict>
</dict>
</plist>
